@font-face {
    font-family: 'Futura';
    src: url('~@/fonts/Futura-Bold.woff2') format('woff2'),
        url('~@/fonts/Futura-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'neon';
    src: url('~@/fonts/NeonTubes2-Regular.woff2') format('woff2'),
        url('~@/fonts/NeonTubes2-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tilda';
    src: url('~@/fonts/Tilda-Grande.woff2') format('woff2'),
        url('~@/fonts/Tilda-Grande.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$futura: 'futura', Helvetica, sans-serif;
$quicksand: 'Quicksand', sans-serif;
$neon: 'neon', serif;
$tilda: 'tilda', 'futura', serif;

/** FONT MIXINS **/
@mixin standard-font() {
    font-family: $quicksand;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
}

@mixin futura() {
    font-family: $futura;
    font-style: normal;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
}

@mixin title-font() {
    font-family: $futura;
    font-style: normal;
    // font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    
    position: relative;
    paint-order: stroke fill;
    
    background: $yellow;
    -webkit-text-stroke: 1px $black;

	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin about-title() {
    font-family: $tilda;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

@mixin project-title() {
    font-family: $neon;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;

    // color: #ffe4b9;
    // text-shadow: 0 0 0 #fff3b9, 0 0 0 #fffcb9, 0 0 9px #ff6e00, 0 0 9px #dd6205, 0 0 4px #c12400, 0 0 1px #dd1905, 0 0 6px #dd4b05;

    // &:hover {
    //     text-shadow: 0 0 0 #fff3b9, 0 0 0 #fffcb9, 0 0 7px #ff6e00, 0 0 7px #dd6205, 0 0 7px #c12400, 0 0 7px #dd1905, 0 0 7px #dd4b05;
    // }
}



/** TYPE PATTERNS **/
@mixin quiet-voice() {
    font-size: 8px;
}

@mixin standard-voice() {
    @include standard-font();
    font-size: 16px; // please just use pxs.
    line-height: 1.4; // no units on line-height
    letter-spacing: 0.02em; // ems for letter-spacing 'kearning'
    font-weight: 400; // no 'normal' and 'bold' - make sure your font supports this - or the browser will try and fake it - and it'll cause troubles for you
}

@mixin strong-voice() {
    @include standard-font();
    font-size: 25px;
    @include bp(1) {
        font-size: 30px
    }
}

@mixin loud-voice() {
    @include title-font();
    font-size: 30px;
    @include bp(1) {
        font-size: 40px
    }
}

